
RewriteEngine On

RewriteCond %{HTTP_HOST} ^pousadaatobas.com.br$
RewriteRule ^(.*)$ "http\:\/\/www^pousadaatobas.com.br\.com.br\/$1" [R=301,L]
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  RewriteRule ^([A-_a-z0-9-]+)\.(html|htm)$ direciona.php?arquivo=$1
  ErrorDocument 404 /404.php
