html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}
.hero.is-success {
  background: #f2f7fa;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 300;
  
}
p {
  color: #fff;
  font-weight: 700;
}
.hero.is-success {
  background: #061623;
}
.box {
  background-color: #061623;
}
.button.is-link {
  background-color: #fff;
  color: #061623;
}
input, .textarea {
  color: #061623;
}

.hero-body {
  padding-top: 0px;
}